# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Flask / local instance
instance/

# Environment variables / secrets
.env
.env.*
!.env.example

# Database files
*.db
*.sqlite
*.sqlite3

# VS Code
.vscode/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db
node_modules
